# secrets / env
.env
.streamlit/
.streamlit/secrets.toml

# python noise
__pycache__/
*.pyc
.ipynb_checkpoints/

# local/editor
.DS_Store
.vscode/

# generated output
data/examples/quiz_output.html
quiz_output.html